body{
margin:0;
font-family:'Montserrat',sans-serif;
background:#f8f7f3;
color:#333;
text-align:center;
}

.hero{
padding: 140px 20px;
background:linear-gradient(135deg,#d8e3dc,#f5efe6);
}

.hero h1{
font-size:60px;
font-family:'Cormorant Garamond',serif;
margin-bottom:10px;
letter-spacing: 2px;
}

.subtitle{
font-size:22px;
opacity:0.8;
letter-spacing: 1px;
}

.info{
padding:60px 20px;
background:white;
}

.info h2{
margin-top:30px;
font-weight:600;
}

.ayah{
padding:60px 20px;
background:#f0efe9;
}

.arabic{
font-size: 28px;
line-height:2;
direction:rtl;
font-family:serif;
}

.translation{
margin-top:20px;
font-style:italic;
}

.dua{
padding:60px 20px;
background:white;
}

footer{
padding:40px;
background:#e9e4d4;
font-size:14px;
opacity: 0.7;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}
.info, .ayah, .dua {
    max-width: 500px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    padding: 70px 30px;
    transition: 0.3s;
}
h1, h2, h3, p {
    transition: all 0.3s ease;
}
.lang {
    position: fixed;
    top: 20px;
    right: 20px;
  z-index: 9999; /* самое важное - чтобы кнопки были поверх всего */
    background: rgba(255, 255, 255, 0.6);
    padding: 8px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.lang button {
    background: white;
    border: none;
    padding: 8px 12px;
    margin: 3px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.lang button:hover {
    transform: scale(1.1);
}
section:not(.hero) {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

section {
    max-width: 600px;
    margin: auto;
}

.info:hover, .ayah:hover, .dua:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
p {
    line-height: 1.6;
}
.lang button:active {
    transform: scale(0.95);
}
